/* Page */
*{
    font-family: 'Poppins', sans-serif;
}

/* Header */
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 20px;
    padding-left: 20px;
}

header button{
    margin-left: 20px;
}

@media (max-width: 992px){
    header li button{
        margin-top: 16px;
    }
}

header li button:hover{
    background-color: #ffffff !important;
    color: #48435c !important;
}

.navbar-dark{
    background-color: #48435c !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 992px){
    .navbar-nav{
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

/* Header-logo */
.container img{
    width: 150px
}

/* Header-color-font */
.nav-link{
    color: white;
}

/* Header-border-burger-menu */
.navbar-toggler{
    color: transparent;
}

/* Header-container-desktop */
.navbar-collapse{
    flex-grow: 0;
}

/* Main */
main{
    background-color: #edffec;
    padding-top: 128px;
    padding-bottom: 60px;
}

h2{
    color: #6963be;
}

@media (max-width: 992px){
    h2{
        font-size: 32px;
    }
}

h4{
    color: #48435c;
}

h5{
    color: #5a5766; 
}

main p{
    color: #5a5766;
}

label{
    color: #5a5766;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

@media (max-width: 992px){
    .button-container{
        margin-top: 24px;
    }
}

.mas-informacion{
    display: flex;
    flex-flow: column;
    margin-top: 24px;
    margin-bottom: 48px;
    gap: 8px;
}

@media (max-width: 992px){
    .mas-informacion{
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.mas-informacion p{
    font-size: small;
    margin: 0;
}

.mas-informacion div{
    display: flex;
    flex-flow: column;
    gap: 4px;
}

@media (max-width: 992px){
    .mas-informacion__pago{
        margin-bottom: 24px;
    }
}

/* Pantalla ver-perfil */

.about{
    display: flex;
    flex-flow: row;
    gap: 80px;
    margin-bottom: 48px;
}

.about img{
    width: 200px;
    height: 200px;
    border: #6963be;
    border-style: solid;
}

.about-section{
    display: flex;
    flex-flow: column;
    gap: 24px;
}



/* Main - title */
#main-title{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 48px;
}

#main-title p{
    font-style: italic;
}

.go-back a{
    color: #6963be;
    text-decoration: none;
}

/* Main - buttons */

.button-primary{
    padding: 10 15 10 15;
    background-color: #6963be;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: medium;
    color: white;
    transition: all 0.3s ease;
}

.button-primary:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 10px 8px #b6b6b615;
    transition: all 0.3s ease;
}

.button-style{
    padding: 8px;
    background-color: none;
    text-decoration: none;
    font-weight: 400;
    font-size: medium;
    color: #6963be;
}

/* Section - radio button */
.question-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 8px #b6b6b60c;
}

.question-section-items{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* Section - form */
.form-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 8px #b6b6b60c;
}

.form-section-2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 8px #b6b6b60c;
}

.form-base{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    gap: 16px;
}

@media (max-width: 992px){
    .form-base{
        display: flex;
        flex-flow: column;
        gap: 16px;
    }  
}

.inputs{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.input-title{
    height: 48px;
    border-color: #5a5766;
    border-radius: 6px;
    width: 40%;
}

@media (max-width: 992px){
    .input-title{
        width: 100%;
    }
}

.textarea-description{
    border-color: #5a5766;
    border-radius: 6px;
    width: 100%;
}

.input-price{
    height: 48px;
    width: 30%;
    border-color: #5a5766;
    border-radius: 6px;
}

.profile-2{
    border-radius: 100%;
}

/* Main - card (proyectos) */
.card-proyectos{
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 8px #b6b6b60c;
    transition: all 0.3s ease;
}

.card-proyectos:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 10px 8px #b6b6b615;
    transition: all 0.3s ease;
}

.card-proyectos img{
    margin-bottom: 16px;
}

main div img{
    width: 150px;
}

/* Main - card (proyectos) - button */
.button-container-1{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

/* Main - card (profesionales) */
.card-profesionales{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 1px 10px 8px #b6b6b61a;
    padding: 30px;
    border-radius: 6px;
    gap: 36px;
    width: 42%;
}

.card-profesionales div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile{
    border-radius: 100%;
}

.score{
    width: 150px;
}

ul{
    list-style: inside;
    list-style-type: circle;
}

/* Main - card (profesionales) - button */
.button-container-2{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 16px;
}

/* Footer */
footer{
    background-color: #5a5766;
    display: flex;
    flex-flow: column;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.p-main{
    font-weight: 400; 
}

.p-secondary{
    font-weight: 200;
}

